<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332825725581-89l88lgiasv8efdrf936uvcdt0t3jv1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332825725581-89l88lgiasv8efdrf936uvcdt0t3jv1k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332825725581-2r4k7t3deai1eh1jiq1rjur1i410tfq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCz_56FcR_O8Efbav-zjw42g03OkZKdH9U</string>
	<key>GCM_SENDER_ID</key>
	<string>332825725581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.strikedtype</string>
	<key>PROJECT_ID</key>
	<string>strike-d-type</string>
	<key>STORAGE_BUCKET</key>
	<string>strike-d-type.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332825725581:ios:e2f26cab494a069216f0c4</string>
</dict>
</plist>